<%

/*******************************************************************************
*  Code contributed to the webinos project
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
* 
*     http://www.apache.org/licenses/LICENSE-2.0
* 
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*******************************************************************************/

%>

    <div id = "zoneList">
        
        <h2>Your Personal Zone Devices (PZPs)</h2>
        
		<center>
            <table id="pzps">
            <th>ID</th><th>Name</th><th>Status</th><th>Remove</th>
			<%
			
			if (devices.pzps !== null) {
    			for (i=0; i<devices.pzps.length; i++) {
        			%> 
        			<tr>
        			<td> <%= devices.pzps[i].id %> </td>
        			<td><%= devices.pzps[i].cname %></td>
        			<% 
        			if (devices.pzps[i].isConnected) { 
        			    %><td class="connected">Connected <%           			
        			} else {
        			    %><td class="notconnected">Not connected <%
        			}
        			%>
        			</td> 
        			<td><a href="revoke/pzp/<%=devices.pzps[i].id%>">Revoke</a></td>
        			</tr>
        			<%
        			
    			}
			}
			
			%>			
			</table> 

		</center>
		
		<h2>Personal Zone Hubs</h2>
		<center> 
		    
			<table id="pzhs">
			<th>ID</th><th>Name</th><th>Status</th><th>Remove</th>
			<%
			
			var i =0;
			
			if (devices.pzhs !== null) {
    			for (i=0; i<devices.pzhs.length; i++) {
        			%> 
        			<tr>
        			<td> <%= devices.pzhs[i].id %> </td>
        			<td><%= devices.pzhs[i].cname %></td>
        			<% 
        			if (devices.pzhs[i].isConnected) { 
        			    %><td class="connected">Connected <%           			
        			} else {
        			    %><td class="notconnected">Not connected <%
        			}
        			%>
        			</td> 
        			<td><a href="revoke/pzh/<%=devices.pzhs[i].id%>" >Revoke</a></td>
        			</tr>
        			<%
        			
    			}
			}
			
			%>
			</table> 
		</center>
		
	</div>
